name: Publish Docker image

on: 
  push:
  workflow_dispatch:
jobs:
  login:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v1
        - name: Login to GitHub Container Registry
          uses: docker/login-action@v3
                
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
        - run: docker build -t ghcr.io/apatisss/pyhton-app:latest .
        - run: docker push ghcr.io/apatisss/pyhton-app:latest 
        - run: docker run ghcr.io/apatisss/pyhton-app:latest 
          
